@model IEnumerable<Portfolio.Models.HighScoreModel>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Header"]</h1>
    @{
        var highScoreModel = ViewData["HighScoreModel"]
            as Portfolio.Models.HighScoreModel;
    }
    <table class="table table-bordered table-striped">
        @* 
            What it needs is a definitive width and height.
            Change the width and height
        *@
        <thead>
            <tr>
                <th>
                    Scores
                </th>
                <th>
                    Names
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewData["HighScoreModel"] as IList<HighScoreModel>)
        {           
                <tr>
                    <td>
                        @item.PlayerScore
                    </td>
                    <td>
                        @item.PlayerName
                    </td>
                </tr>            
            
        }
            </tbody>
    </table>
</body>
</html>
