@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="jumbotron2">
        <div class="container">
            <p class="lead">
                <h2>We use current technologies</h2>
                <p>We make sure that your system is always <strong>FAST</strong>. With a strong <strong>UNDER-LINE</strong> for all device types. More <strong>CONTROL</strong> over your applications. While beaing able to <strong>KEEP</strong> things the way you want want them!</p>
                <p>In this example we are using cards with image, title, and text.  Lets take a look at what we used to create this project.</p>
                <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p>

            <div class="text-center">
                <div class="row">
                    <div class="col">
                        <div class="card bg-dark">
                            <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>.NET</strong></p>
                                <p class="card-text">We used .NET Core Framework to have compatibility for all operating systems and devices.</p>
                            </div>

                        </div>

                    </div>
                    
                    <div class ="col">
                        <div class="card bg-dark">
                            <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>ASP</strong></p>
                                <p class="card-text">ASP was used for web development to produce dynamic web pages.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div class="card bg-dark">
                            <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>MS SQL Server</strong></p>
                                <p class="card-text">I chose TSQL with MS SQL Server to easily connect databases and keep the stack fully Microsoft.</p>
                            </div>

                        </div>

                    </div>

                    <div class="col">
                        <div class="card bg-dark">
                        <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>Entity/Identity</strong></p>
                                <p class="card-text">Using the Entity and Identity frameworks lets us keep things simple and secure.</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            
        </div>
    </div>

</body>
</html>

