@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="jumbotron2">
        <div class="container">
            <p class="lead">
                <h2>We Give A #!$%</h2>
                <p>We make sure that your system is always <strong>FAST</strong>. With a strong <strong>UNDER-LINE</strong> for all device types. More <strong>CONTROL</strong> over your applications. While beaing able to <strong>KEEP</strong> things the way you want want them!</p>
                <p>In this example we are using cards with image, title, and text.  This is just one concept of how we can give a #!$% for you.</p>
                <p><strong>Note:</strong> The #!$%ing cards are displayed vertically on small screens (less than 576px):</p>

            <div class="text-center">
                <div class="row">
                    <div class="col">
                        <div class="card bg-dark">
                            <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>Fast</strong></p>
                                <p class="card-text">Fast load times and lagg free interaction, our highest priority.</p>
                            </div>

                        </div>

                    </div>
                    
                    <div class ="col">
                        <div class="card bg-dark">
                            <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>Under-Line</strong></p>
                                <p class="card-text">Under-lining layouts that will work on any device, big or small.</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div class="card bg-dark">
                            <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>Control</strong></p>
                                <p class="card-text">Control preference for easy to use, intuitive UX/UI.</p>
                            </div>

                        </div>

                    </div>

                    <div class="col">
                        <div class="card bg-dark">
                        <img class="card-img-top" src="~/Img/smileyface.png" alt="Card image cap">
                            <div class="card-body text-center">
                                <p class="card-text"><strong>Keep</strong></p>
                                <p class="card-text">Keep things the way you want, we make them come to life.</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            
        </div>
    </div>

</body>
</html>

