@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Bootstrap </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container-fluid p-5 jumbotron2">
			<h1 class="display-4">Welcome to my portfolio</h1>
			<p class="lead">This application is designed to display my resume with user interaction involvment.</p>
			<hr class="my-4">
			<p>Find out how we can build your solution! Here at SmileyFaceStudios.Kelper, we build great Web sites and Web applications to fit all kinds of use cases.  Find out how we can fit your needs by selecting the "learn more", button below!</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</div>
	</body>
</html>